/* FONTS */

* {
    font-family: 'Lato', sans-serif;
}

/* BASE FONT SIZE */
html {
    font-size: 17px;
}

/* body {
    background: #eee;
} */

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    line-height: .9;
    font-weight: 400;
}

h1:first-of-type {
    margin-top: 10px;
}

h2 {
    font-size: 2rem;
    line-height: 130%;
    font-weight: 300;
}

h2.invert-block {
    display: inline-block;
    padding: 6px 10px 8px;
    border: 2px solid black;
}

h1,
h2 {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.4rem;
    line-height: 100%;
    margin-bottom: 15px;
}

h3.unit-dropdown {
    font-size: 1.3rem;
    margin-bottom: 25px;
    min-height: 30px;
}

h3.unit-dropdown.active {
    color: red;
    text-decoration: underline;
}

h3.unit-dropdown.active:hover {
    cursor: pointer;
    cursor: hand;
}

p,
th,
td {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

b {
    font-weight: 700;
}

p,
ul {
    margin-bottom: 25px;
}

p.short {
    margin-bottom: 8px;
}

p,
li {
    line-height: 150%;
    letter-spacing: 0.1px;
}

ul {
    list-style-position: inside;
    padding-left: 1rem;
}

li {
    font-weight: 300;
    margin-bottom: 15px;
    list-style-type: disc;
}

p em {
    font-style: italic;
}

.small {
    font-size: 0.7rem;
    letter-spacing: 0.2px;
}

.caps {
    text-transform: uppercase;
}

.small.caps {
    line-height: 80%;
}

.coming-soon {
    /* color: white; */
}

.coming-soon:after {
    display: block;
    content: "(COMING SOON!)";
    font-size: 0.8rem;
    opacity: 0.5;
}

a {
    transition: all 0.3s;
    color: #c00;
    text-decoration: underline;
}

a:hover {
    color: red;
}



/* LAYOUT */

div.img-topper {
    position: relative;
    background-image: url(./assets/kitchen.jpg);
    background-size: cover;
    background-position: 45% 50%;
    min-height: 59vw;
}

div.img-topper > h1 {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0;
    padding: 25px;
    font-size: 10vw;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

section {
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}

.copper {
    background: #ddaf84;
}

section.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 25px;
}

section.lead h2 {
    margin: 24px 25px 22px;
    flex-shrink: 0;
}

section.lead p {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 1 520px;
    margin: 0;
}

section > p {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-bottom: 40px;
}

table,
tr {
    width: 100%;;
}

thead {
    font-weight: 700;
    border-bottom: 1px solid black;
}

td,
th {
    padding: 10px 4px;
}

th {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

img {
    width: 100%;
}

.fadein {
    opacity: 0;
    transition: opacity 1.5s;
}

.fadein.fadedin {
    opacity: 1;
}

.contact-box {
    text-align: center;
    padding-top: 2vw;
}

.contact-box p {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    color: white;
}

.contact-box p a {
    color: white;
}

.contact-box p.serif {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

.contact-box a {
    color: red;
}

body {
    min-height: 100vh;
}

footer {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 30px 25px;
    background: black;
    margin-top: -3px;
}

.lead-logo,
.end-logo {
    flex-basis: 30%;
}

.end-logo {
    align-self: flex-end;
    text-align: right;
}

.end-logo img {
    width: 30px;    
    margin-bottom: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 830px) {
    .contact-box {
        order: -1;
    }

    div.img-topper {
        min-height: 400px;
    }

    div.img-topper > h1 {
        font-size: 3.5rem;
        letter-spacing: -1px;
        /* text-align: center; */
        width: 100%;
        box-sizing: border-box;
    }

    section.lead {
        display: block;
        text-align: center;
        padding: 15px;
    }

    section.lead p {
        margin-bottom: 25px;
    }

    .contact-box p {
        font-size: 1.2rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer > div {
        display: block;
        max-width: 300px;
        margin: 0 auto 42px;
        text-align: center !important;
    }

    .end-logo img {
        margin: 0;
    }
}